<div class="outer_shadow">
  <div class="about_us_div">
    <span style="font-weight:bold;">
	Convorum is a conversation forum and group content creation site.	  
    </span>
    <span style="font-weight:bold;">
      The name of the game is posting great content and stimulating topics, as well as leveraging the power of groups as content and knowledge resources.
    </span>
    
  </div>
</div>










