<div class="grey_overlay" style="display: block" id="edit_add_user_popup">
  <div class="pop_up" >
    <div class="popup_inner_div">
      <a href="javascript:void(0);" onclick="jQuery(this).closest('.grey_overlay').remove();" class="popup_close_btn">&nbsp;</a>
      <div class="popup_content">
        <%= form_for @nsu, :url=>{:controller=> :discussion_groups, :action => 'edit_added_group_user',:id=>@nsu.id }, :html=>{:id=>""}, :remote=>true do |f|  %>
          <span class="popup_heading">Edit Email</span>
          <table width="100%" class="popup_form_table">
            <tr>
              <td  align="left" width="30%"><span class="form_field_name">Email:</span></td>
              <td align="left" ><%= text_field 'nsu', 'email', :style=>"width:200px", :id=>"private_group_user_email"%><br/>
                <span id="private_group_user_error" class="form_error"></span>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td align="left"><input type="submit" class="blue_btn" value="Update" onclick="return validate_edit_email_address_form(jQuery(this).closest('form'));"/></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>